extends layout

block content
	center
		h1 Login
		form#formLogin(name="loginForm",method="post",action="/login")
			table
				tr
					td
						label UserID
					td
						input(name="userID",type="text",placeholder="UserID")
				tr
					td
						label Password
					td
						input(name="userPassword",type="password",placeholder="Password")
				tr
					td
					td
						button#btnSubmit(type="submit") Login